@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Bobo Amat';
    src: url(../public/assets/fonts/Bodo\ Amat.ttf) format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'DMSans';
    src: url(../public/assets/fonts/DMSans-Regular.ttf) format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'DMSans';
    src: url(../public/assets/fonts/DMSans-Medium.ttf) format('truetype');
    font-weight: medium;
}
@font-face {
    font-family: 'DMSans';
    src: url(../public/assets/fonts/DMSans-Bold.ttf) format('truetype');
    font-weight: bold;
}
.main_width {
    @apply w-full flex
}
.max_width_trait {
    @apply w-full lg:max-w-4xl mx-auto
}
.max_width {
    @apply w-full lg:max-w-5xl mx-auto
}
.title {
    font-family: 'Bobo Amat';
}
.dm_font {
    font-family:  'DmSans';
}
.btn_shadow {
    box-shadow: 0px 21px 33px rgba(0, 211, 170, 0.14), inset 1px -7px 13px 5px rgba(255, 255, 255, 0.49), inset 0px 4px 24px 13px rgba(0, 0, 0, 0.23);
}
.btn_shadow_yellow {
    box-shadow: 0px 21px 33px rgba(255, 211, 0, 0.17), inset 1px -7px 13px 5px rgba(255, 255, 255, 0.49), inset 0px 4px 24px 13px rgba(248, 209, 7, 0.23);
}
.radius {
    border-radius: 30% 70% 70% 30% / 40% 60% 40% 60%;
}
.zindex {
    z-index: -1 ;
}
.zindexes {
    z-index: 100;
}
.blueShadow {
    box-shadow:  10px 10px #272A5E;
}
.yellowShadow {
    box-shadow:  5px 5px #F4CA01;
}